-Xmx4096m -Xms4096m -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryHandler.count=2 -Dmaven.javadoc.skip=true -Djavax.net.ssl.trustStore=.mvn/trust.jks      -Djavax.net.ssl.trustStorePassword=changeit  -XX:+IgnoreUnrecognizedVMOptions -Xshareclasses:cacheDir=.scc,name=build,nonFatal,nonpersistent -Dorg.apache.cxf.Logger=java.util.logging -Dmaven.artifact.threads=15 -Duser.language=en-US
